<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repo }}/sharelist">ShareList</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/link">Link</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/about">About</a>
    <span class="sidebar-nav-item">JoyBus.TK</span>
    
    <a href="https://www.jianshu.com/p/fa6b63a33f3b" target="_blank" target="_blank"><img src="/public/banner/2019102113242059.png" alt="Super Simple Songs" style="height:auto;width:200px;" /></a>
    <a href="https://www.jianshu.com/p/8044919a0384" target="_blank"><img src="/public/banner/2019102113241982.png" alt="CoCoMelon" style="height:auto;width:200px;" /></a>
    <a href="https://www.jianshu.com/p/7f78d16c93c6" target="_blank"><img src="/public/banner/2020010215010734.png" alt="Mother Goose Club" style="height:auto;width:200px;" /></a>
    <a href="https://www.jianshu.com/p/6c3cea0fd1fb" target="_blank"><img src="/public/banner/2019102114014359.png" alt="Pinkfong" style="height:auto;width:200px;" /></a>
					
		<a href="https://www.jianshu.com/p/964413ec1b17" target="_blank"><img src="/public/banner/2020022118290796.png" alt="Super JoJo" style="height:auto;width:200px;" /></a>
    <a href="https://www.jianshu.com/p/471bd0a71790" target="_blank"><img src="/public/banner/2019102114014349.png" alt="Dave and Ava" style="height:auto;width:200px;" /></a>
    <a href="https://www.jianshu.com/p/0c4c1a3cebd0" target="_blank"><img src="/public/banner/2019102113241934.png" alt="Bounce Patrol Kids" style="height:auto;width:200px;" /></a>
    <a href="https://www.jianshu.com/p/6dff9e450b45" target="_blank"><img src="/public/banner/2019102113241942.png" alt="Little Baby Bum" style="height:auto;width:200px;" /></a>
				
			 <a href="https://www.jianshu.com/p/061f045e7f04" target="_blank"><img src="/public/banner/2019102114162354.png" alt="Wow English TV" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/7733a7785bb8" target="_blank"><img src="/public/banner/2019102114162349.png" alt="Blippi" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/a98e177abb0b" target="_blank"><img src="/public/banner/2019102114264410.png" alt="Jack Hartmann" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/22380d5bae61" target="_blank"><img src="/public/banner/2019102114090532.png" alt="Dream English Kids" style="height:auto;width:200px;" /></a>
					
				<a href="https://www.jianshu.com/p/773ec1cbb372" target="_blank"><img src="/public/banner/2019102114264444.png" alt="English Singsing" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/813966a5284f" target="_blank"><img src="/public/banner/2019102114570830.png" alt="It’s AumSum Time" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/46cd5de39e5c" target="_blank"><img src="/public/banner/2019102114570962.png" alt="Kids Pages(Easy English)" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/fc5febef419a" target="_blank"><img src="/public/banner/2020022118290734.png" alt="The Singing Walrus" style="height:auto;width:200px;" /></a>
						
				<a href="https://www.jianshu.com/nb/45674422" target="_blank"><img src="/public/banner/2019102115333560.png" alt="BBC" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/de45a7dc82d5" target="_blank"><img src="/public/banner/2019102114570945.png" alt="Brain Candy TV" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/db261e9a9f1d" target="_blank"><img src="/public/banner/2020022118290736.png" alt="e-future ELT" style="height:auto;width:200px;" /></a>
				<a href="https://www.jianshu.com/p/dad63d04351e" target="_blank"><img src="/public/banner/2020022118290715.png" alt="liaocaixing" style="height:auto;width:200px;" /></a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
